{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}694 App Form{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Location Memories</h1>
</div>

<p>&nbsp;
<div class="post-list">
  <ul class="posts">
      {% for funday in fundays %}
      <li class="post">
          <div class="funday-content">
              <div class="post-info"><h2>{{ funday.thing2 }}</h2></div>
              <div class="post-body">
                <ul>
                	<li class="memory-title">  Memory Title: {{ funday.title }}
                    <li>  Memory Description: {{ funday.thing1 }}
                    <li>  Location: {{ funday.thing2 }}
                    <li>  {{ funday.timestamp }}
                  </ul>
              </div>
          </div>
      </li>
      {% endfor %}
  </ul></div>



{% endblock %}
