{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Memorabilia Personal Memory{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Your memories</h1>
</div>
<div class = "map-block"></div>

<p>&nbsp;
<div class="post-list">
  <ul class="posts">
      {% for funday in fundays %}
      <li class="post">
          <div class="memory-content funday-content">
              <div class="m-content-top">
                <div class=m-time>{{ funday.timestamp }}</div>
                <div class=m-location>{{ funday.thing2 }}</div>
              </div>
              <div class=m-media><img src="#"></div>
              <div class="post-info">
                <div><h4>{{ funday.title }} by <a href="/users/{{ funday.author.username }}">{{ funday.author.username }}</a></h4></div>
                <button class="btn-unclickable">like</button>
              </div>
              <div class="post-body">{{ funday.thing1 }}</div>
              <button>like</button>
          </div>
      </li>
      {% endfor %}
  </ul></div>

{% endblock %}