{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Memorabilia Personal Memory{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Your memories</h1>
</div>
<div class = "map-block"></div>

<p>&nbsp;
<div class="post-list">
  <ul class="posts">
      {% for funday in fundays %}
      <li class="post">
          <div class="memory-content funday-content">
              <div class="m-content-top">
                <div class=m-time>{{ funday.timestamp.strftime('%b %d, %Y at %H:%M') }}</div>
                <div class=m-location>{{ funday.location }}</div>
              </div>
              <div class=m-media><img src="#"></div>
              <div class="post-info">
                <div><h4>{{ funday.title }}</a></h4></div>
                <div>
                  <button class="btn-unclickable">like </button>
                  <span>{{ funday.like_num}}</span>
                </div>
              </div>
              <input id="toggle" type="checkbox" checked>
              <label class="see-more" for="toggle"></label>
              <div id="collaps">
                <section class="post-body">
                  <p>{{ funday.description }}</p>
                </section>
              </div>
          </div>
      </li>
      {% endfor %}
  </ul></div>

{% endblock %}